<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to test statistics!</h1>

  <h3>Select the type of test:</h3>
  <form action="/testTypePage" method="post">
    <select name="test_type" id="">
      <option value="0">T-Test</option>
      <option value="1">F-Test</option>
      <option value="2">Chi-Square Test</option>
      <option value="3">ANOVA</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
</html>