<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>T-Test Types</title>
</head>
<body>
  <h1>Select T-Test Type:</h1>
  <form action="/getData" method="post">
    <select name="tType_select" id="">
      <option value="0">One Sample T Test</option>
      <option value="1">Independent T Test</option>
      <option value="2">Paired T Test</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
</html>